<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <button class="login-button" onclick="location.href='admin_login.html'">Admin Login</button>
            <button class="login-button" onclick="location.href='emp.html'">Employee Login</button>
        </div>
    </div>
</body>
</html>